
<body style="background: white">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="">
            <div class="row " style="height: 100vh">
                <div class="login-logo col-lg-5" style="width: 120vw; margin: 0px!important">
                    <div style=" width: 100%; height: 100%; position: absolute; background: rgba(255, 255, 255, 0.48);">
                        <div class="logo" style="position: absolute; left: 20px; top: 20px">
                            <img src="images/oblogo.png" alt="" style="width: 50px">
                            <span style="font-size: 1.1rem; font-weight: 900; color: #e77d36; letter-spacing: 2px; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; ">
                                Orangebox
                            </span>
                        </div>
                        <div class="head" style="font-size: 3.5rem; position: absolute; top: 30%; left: 20%; width: 200px; text-align: left; font-weight: 900; color: #e87b37;">                             EVERYTHING IS SAFE HERE.
                        </div>
                    </div>
                    <img class="align-content" src="images/ob2.jpeg" style="width: 100%; height: 100%; " alt="">

                </div>

                <div class="login-form col-lg-6" style=" ">
                    {{#if errors}}
                         {{#each errors}}
                         <div class="w3-container w3-section w3-red">
                    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
                      {{msg}}
                    </div>
                         {{/each}}
                    {{/if}}
                    <div class="" style="width: fit-content; position: absolute; top: 25%; left: 25%; ">
                        <div class="row">
                            <p class="col-lg-4 col-md-4 col-sm-4 m-2" style="font-weight: 900; font-size: 1.4rem;  color: black; padding: 5px; width: fit-content">
                                <a href="/" style="text-decoration: none">
                                    Login
                                </a>
                            </p>
                            <p class="col-lg-4 col-md-4 col-sm-4 m-2" style="font-weight: 900; font-size: 1.4rem;border-bottom: 4px solid #e45929; color: black; padding: 5px; width: fit-content">
                                    Register
                            </p>
                        </div>

                        <form method="post" action="/users_register" style="width: 350px">
                            <div class="form-group">

                                <input type="name" class="form-control" placeholder="Name" name="name">
                            </div>
                            <div class="form-group">

                                <input type="username" class="form-control" placeholder="User Name" name="username">
                            </div>
                            <div class="form-group">

                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">

                                <input type="password" class="form-control" placeholder="Password" name="password1">
                            </div>
                            <div class="form-group">

                                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" style="background: #e87b37">Register</button>

                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="js/index.js"></script>
</body>
